﻿<div class="container login-container">
   <div class="col-md-4"></div>
   <div class="col-md-4">
      <section class="login-form"   ng-controller="registerform">
         <form  action="#" role="login">
            
            <input name = "text" type = "text" ng-model = "firstname" class="form-control input-lg" placeholder="Name">
            <input name = "email" type = "email" ng-model = "email" class="form-control input-lg" placeholder="Email">
            <input type="password" class="form-control input-lg" ng-model = "password"  id="password" placeholder="Password"/>

            <input type="phone" class="form-control input-lg" ng-model = "phone"  id="password" placeholder="Phonenumber"/>


             <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" ng-click="save();">Register</button>
            <div>
               <a href="#login_view">Already Account Go For Login</a>
            </div>
         </form>
      </section>
   </div>
</div>

