<div class="container login-container">
   <div class="col-md-4"></div>
   <div class="col-md-4">
      <section class="login-form" ng-controller="registerform">
         <form role="login" method="post">
            <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
            <input name = "username" type = "text" ng-model = "firstname"  class="form-control input-lg" placeholder="USername">
            <input type="password" ng-model = "loginpassword" class="form-control input-lg" id="password" placeholder="Password" />
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="loginbtn();" >Sign in</button>
            <div>
               <a href="#register">Create account</a>
            </div>
         </form>
      </section>
   </div>
</div>

