<div class="container login-container white-container" ng-controller="welcome" >
   <div class="col-md-4"></div>
   <div class="col-md-4">
      <section class="login-form" ng-controller="registerform">
        <h1 class="text-center"> Welcome </h1>
      </section>


<div ng-class="{'open': togel}" class="sidebar">
     <ul style="color:red;">  
     <li> hvjhf</li>
     <li> hvjhf</li><li> hvjhf</li><li> hvjhf</li><li> hvjhf</li><li> hvjhf</li><li> hvjhf</li>
     </ul>
   <button ng-click="togel = !togel" ng-init="togel = false;"> >> </button>            
</div>





   </div>
</div>

