<div class="container login-container white-container">
   <div class="col-md-12">
  <a href="#login_view" class="pull-right"> Logout </a>

      <div class="login-form"  ng-controller="admindatta">
        <h1 class="text-center"> admin </h1>


<table width="100%" border="1" cellspacing="5" cellpadding="5">
 
<tr>
    <th> username</th>
    <th> password     </th>
    <th> email </th>
    <th>phone  </th>
    <th> Edit  </th>
    <th>Delete  </th>
  </tr>

  <tr ng-repeat="user in users">
    <td>
    	<span ng-hide="show"> {{ user.username }} </span>  
    	<span ng-show="show"><input type="text" ng-model="user.username" /> </span>
    </td>
    <td> 
    	<span ng-show="!user.editMode">  {{ user.password }} </span>
    	 <input type="text" ng-model="user.password" ng-show="user.editMode"/> 
    </td>
    <td>
    	 <span ng-show="!user.editMode">  {{ user.email }} </span>
    	 <input type="text" ng-model="user.email" ng-show="user.editMode"/> 
    </td>
    <td>
    	 <span ng-show="!user.editMode">  {{ user.phone }} </span> 
    	<input type="text" ng-model="user.phone" ng-show="user.editMode"/> 
   </td>
    <td>

	<button type="" ng-click="show=!show"> Edit </button> 
    	 <input type="checkbox" ng-model="user.editMode"/>
 	
    </td>
    <td> 

  <button class="remove"  ng-click="removerow($index)"> Delete </button> 
  <button class="remove"  ng-click="addRow()"> Add row </button> 



  </td>




  </tr>
 
</table>






      </div>
   </div>
</div>

